<p>
    <b>Bonjour et bienvenue sur Yu-gi-oh build and buy</b>
    <ul>
        <li>Nom: {{nom|upper}} {{prenom}}</li>
        <li>Email: {{email}}</li>
    </ul>
</p>

<p>site n'étant qu'une ébauche, les achats ne seront pas mené jusqu'au bout (aucuns paiements ne sera débité).</p>
<!-- le n12br retraduit les balise de saut de ligne -->