{% extends 'base.html.twig' %} {% block title %}sets{% endblock %} {% block body %}
<h1 class="flex text-4xl pl-6 my-2 items-center "> Liste des sets </h1>
<hr class="mb-7 ">
<section class=" p-4 flex flex-wrap justify-center gap-1">
    {% for categorie in categories %}
    <article class="py-3 m-2  bg-purple-100 hover:bg-purple-200 border-2 hover:border-gray-500 shadow-2xl">
        <a href="{{path('categorie_content',{'id': categorie.id})}}">
            <img class="w-44 h-44" src="{{asset( 'img/categorie/') ~ categorie.img1}} ">
            <div class="flex justify-center mt-2">
                <p class="w-32 text-center ">{{ categorie.nom }} {{ categorie.libelle }}</p>
            </div>
        </a>
    </article>
    {% endfor %}
</section>
{% endblock %}