{% extends 'base.html.twig' %} {% block title %}Hello AdminController!{% endblock %} {% block body %}

<h1 class="text-4xl pl-6 my-4 ">Bienvenue sur la page admin </h1>
<hr class="mb-10 ">
<h2 class="text-2xl pl-6 my-4">quelles sont les informations à traiter?</h2>


<div class=" w-full flex flex-wrap gap-5 justify-center my-10">
    <a class="w-1/3" href="{{path('categorie_index')}}"><button class="w-full h-20  bg-purple-500 hover:bg-purple-700 text-white py-1 rounded">Catégories</button></a>
    <a class='w-1/3' href="{{path('user_index')}}"><button class=" w-full h-20  bg-purple-500 hover:bg-purple-700 text-white py-1 rounded">Utilisateurs</button></a>
</div>
{% endblock %}