{% extends 'base.html.twig' %} {% block title %}Editer informations{% endblock %} {% block body %}
<h1 class="pt-4 ml-4 text-4xl font-bold">Editer mes informations</h1>
<hr class="my-5"> {{ include('user/_form.html.twig', {'button_label': 'editer'}) }}
<a href="{{ path('currentuser_info') }}" class=" font-semibold text-indigo-600 align-middle text-sm ml-5 "><i class="fa fa-arrow-left pb-10 " aria-hidden="true"></i> retour </a> {% endblock %}