{% extends 'base.html.twig' %} {% block title %}Editer une adresse{% endblock %} {% block body %}
<h2 class="pt-4 ml-4 text-4xl font-bold">Editer une adresse</h2>
<hr class="my-5"> {{ include('user/adresse_form.html.twig', {'button_label': 'editer'}) }}
<a href="{{ path('currentuser_adresses') }}" class=" font-semibold text-indigo-600 align-middle text-sm ml-5 "><i class="fa fa-arrow-left pb-10 " aria-hidden="true"></i> retour </a> {% endblock %}